* {
  box-sizing: border-box;
}

@media(max-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 12px;
  }
}

/* Style for main section of the app. */
.App {
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
}

/* Style for header, which includes logo and title. */
.header {
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.65rem;
  background: #000;
  justify-content: center;
}

/* Responsive styling for personal logo. */
.logo {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url("/public/Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin 5s infinite linear;
}

/* Creates timeframes and rotation direction for logo */
@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}

/* Responsive styling for app title. */
.title {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/* Message bubble styling */
.messages {
  background-color: gray;
  width: 11.5rem;
  height: 1.5rem;
  border-radius: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: 2rem;
}

/* Responsive styling for container that has the text input at the bottom. */
.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
  background: #0f0f0f;
  position: relative;
}

/* Responsive styling for the user input text box. */
.text-input {
  width: 100%;
  border: 1px solid #fff;
  height: 3rem;
  border-radius: 1.5rem;
  padding: 0 1.75rem;
  background: #fff;
  box-shadow: #fff;
  font-size: 1.25rem;
}

/* Responsive styling for the send button and location. */
.send {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 3.5rem;
  top: -1rem;
  cursor: pointer;
  font-size: 2.25rem;
}