* {
  box-sizing: border-box;
}

@media(max-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 12px;
  }
}

/* Style for main section of the app. */
.App {
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-between;
}

/* Style for header, which includes logo and title. */
.header {
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.65rem;
  background: #000;
  justify-content: center;
}

/* Responsive styling for personal logo. */
.logo {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url("/public/Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin 5s infinite linear;
}

/* Creates timeframes and rotation direction for logo */
@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}

/* Responsive styling for app title. */
.title {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/* Message container styling */
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
}

/* Message bubble styling */
.message {
  color: black;
  background: white;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 1.5rem;
}

/* Responsive styling for container that has the text input at the bottom (Moved to TextInput.js).
.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
  background: #0f0f0f;
  position: relative;
} */

/* Responsive styling for the user input text box (Moved to TextInput.js).
.text-input {
  width: 100%;
  border: 1px solid #fff;
  height: 3rem;
  border-radius: 1.5rem;
  padding: 0 1.75rem;
  background: #fff;
  box-shadow: #fff;
  font-size: 1.25rem;
} */

/* Responsive styling for the send button and location (Moved to TextInput.js).
.send {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 3.5rem;
  top: -1rem;
  cursor: pointer;
  font-size: 2.25rem;
} */

.message-row {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}
.message {
  color: white;
  background: gray;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  margin-left: 2rem;
  border-radius: 1.5rem;
  max-width: 20rem;
  min-height: auto;
  overflow-wrap: break-word;
  position: relative;
}
.message-user {
  position: absolute;
  left: 0;
  top: -0.8rem;
  font-size: 0.5rem;
}

.name-picker {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.name-picker svg {
  stroke: white;
  cursor: pointer;
}
.name-picker-name {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}